Repository chingu-voyages/moonshot-chingu-quiz, pull requests merged in 2020-11, with the labels that each got.

#121 Remove striped background from chingu section
  client/components/frontpage/ChinguSection.js
Labels: BUG, Front End, Good First Issue, Improvement, hacktoberfest-accepted

#123 seperating home page icons
  client/components/frontpage/InfoSection.js
  client/components/shared/icons.js
Labels: Front End, Improvement

#128 Renamed LICENCE -> LICENCE.md
  LICENSE.md
Labels: Documentation
